<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="Mode" value="File"/>
    <add key="OrderPath" value="D:\Start Up\College\The Software Guild\Exercise\FlooringOrder\FlooringOrder.UI\bin\Debug\Orders"/>
    <add key="ProductPath" value="D:\Start Up\College\The Software Guild\Exercise\FlooringOrder\FlooringOrder.UI\bin\Debug\Products.txt"/>
    <add key="TaxPath" value="D:\Start Up\College\The Software Guild\Exercise\FlooringOrder\FlooringOrder.UI\bin\Debug\Taxes.txt"/>    
  </appSettings>
</configuration>